.prestadores {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: fit-content;
  gap: 10px;
  overflow:auto;
  height: 250px;
  margin-bottom: 20px;
}

.prestador {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-secondary);
  border-radius: 10px;
  padding: 5px 55px;
  width: 100%;
  padding: 5px;
  gap: 20px;
}

.prestador__nome{
  margin: 0;
}

#input__descricao{
  max-height: 300px;
}

.btn__solicitacao{
  width: 100%;
  margin-top: 15px;
}
#imagem__perfil {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}


#alerta-vermelho{
  text-align: center;
  width: 100%;
}

.campos__form{
  margin-top: 10px;
}

.btn__imagem{
  margin-top: 0;
  margin-bottom: 20px;
}

i{
  margin-left: 3px;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid var(--font-primary);
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
  top: 4px;
}

input:checked {
  border: 6px solid var(--font-secondary);
  outline: unset !important}

.semImagem{
  font-size: 2.5em;
  line-height: 50px;
  width: 40px;
  height: 43px;
}
#prestador__informacao{
  display: flex;
  align-items: center;
  gap: 15px;
}
