<app-sidebar></app-sidebar>
<main>
    <form class="form form-theme">
        <input (click)="temaAmarelo()" type="button" value="Amarelo" class="btn btn-primary form__button">
        <input (click)="temaAzul()" type="button" value="Azul" class="btn btn-primary form__button">
        <input (click)="temaRoxo()" type="button" value="Roxo" class="btn btn-primary form__button">
        <input (click)="temaPreto()" type="button" value="Preto" class="btn btn-primary form__button">
        <input (click)="temaVerde()" type="button" value="Verde" class="btn btn-primary form__button">
        <input (click)="temaVermelho()" type="button" value="Vermelho" class="btn btn-primary form__button">
    </form>
</main>