<header id="header_main__cliente">

    <div>
  
      <a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">
        <img src="../../../assets/logo.svg" class="logo">
      </a>
  
      <div id="sideBar" class="offcanvas offcanvas-start side-bar" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title color-white" id="offcanvasWithBackdropLabel">Menu</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
  
          <nav>
            <ul class="menu">
              <li class="itens__menu pointer" routerLink="/">Home</li>
              <li class="itens__menu pointer">Temas</li>
              <li class="itens__menu pointer" routerLink="/" (click)="logOut()">Log Out</li>
            </ul>
          </nav>
  
        </div>
      </div>
  
    </div>
  
    <div id="perfil" class="pointer" routerLink="/perfil/{{usuario.id}}">
      <div>{{nomeUsuario}}</div>
  
      <div id="imagem__perfil">
        <div *ngIf="isImageVisible">
              <img class="perfil__img" id="fotoPerfil"
                src={{fotoPerfilUsuario}}>
        </div>
        <div *ngIf="!isImageVisible">
        <i class="bi bi-person-circle semImagem"></i>
      </div>
      </div>
    </div>
  </header>