<header id="header_main__cliente">
    <div>
      <img src="../../../assets/logo.svg" class="logo">
    </div>
  
    <div id="perfil">
      <div routerLink="/perfil"> Bem vindo, Jeff</div>  
      <div id="imagem__perfil" routerLink="/perfil"></div>  
    </div>
  
  </header>
  <main>
  
    <div class="hr__main pb-2 mb-3">
      Categorias
    </div>
  
    <div class="container">
  
    <div class="row">
  
      
    </div>
  </div>
    <div class="hr__main pb-2 mb-3" id="servicos">
  
      <div>
        Seus serviços
      </div>
  
  
  </div>
  
    <div class="container">
  
      <div class="row">
  
     
  
      </div>
    </div>
  
  </main>