#header_main__cliente{
  display: flex;
  justify-content: space-between;
}

.hr__main{
  width: 100%;
  border-bottom: 2px solid var(--font-primary);
}

.logo{
  width: 80px;
  margin: 25px;
}

#perfil{
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 10px;
}

.side-bar{
  background-color: var(--font-thirdy) !important;

}

.itens__menu{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--font-fourth);
  color: var(--font-fourth);
}

.menu{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 0;
}

#imagem__perfil{
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

#servicos{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.categorias__title {
  margin-bottom: 250px !important;
}

.horizontalCards-categorias {
  width: 100%;
  margin-top: 50px;
}

.color-white{
  color: var(--font-fourth);
}


#cbxStatus{
  width: calc(100vw - (100vw * 0.8));
  min-width: 130px;
  border: none;
  background-color: transparent;
}

.perfil__img{
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
.semImagem{
  font-size: 2.5em;
  line-height: 50px;
  margin-left:auto;
}
