<header id="header_main__cliente">

  <div>

    <a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">
      <img src="../../../assets/logo.svg" class="logo">
    </a>

    <div id="sideBar" class="offcanvas offcanvas-start side-bar" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title color-secondary" id="offcanvasWithBackdropLabel">Menu</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">

        <nav>
          <ul class="menu">
            <li class="itens__menu">Temas</li>
            <li class="itens__menu">Log Out</li>
          </ul>
        </nav>

      </div>
    </div>

  </div>

  <div id="perfil" class="pointer" routerLink="/perfil/{{usuario.id}}">
    <div>{{nomeUsuario}}</div>

    <div id="imagem__perfil">
      <div *ngIf="isImageVisible">
            <img class="perfil__img" id="fotoPerfil"
              src={{fotoPerfilUsuario}}>
      </div>
      <div *ngIf="!isImageVisible">
      <i class="bi bi-person-circle semImagem"></i>
    </div>
    </div>
  </div>
</header>
<main>

  <div class="hr__main pb-2 mb-3 categorias__title">
    Categorias
  </div>

  <div class="horizontalCards horizontalCards-categorias">

    <div class="horizontalCards__card pointer"  routerLink="fazer-solicitacao/{{c.id}}"  *ngFor="let c of categorias">
        <img class="horizontalCards__card__img" src="{{environment.apiHostAddress + '/' + c.imagemUrl}}">
        <div class="card-body">
          <h5 class="card-title">{{c.nome}}</h5>
        </div>
    </div>
  </div>
  <div class="hr__main py-2 mt-4 mb-3" id="servicos">

    <div>
      Seus serviços
    </div>

    <form>

      <select id="cbxStatus" class="form-select form-control form__input form__input-staus" (change)="getServicosByStatus()"
         name="cbxStatusServico" [(ngModel)]="cbxStatus">
        <option value="-1">Todos</option>
        <option value="0">Solicitados</option>
        <option value="1">Em orçamento</option>
        <option value="2">Em anamento</option>
        <option value="3">Finalizados</option>
        <option value="4">Negados</option>
      </select>

    </form>
  </div>

  <div class="container">

    <div class="row">

      <div class="col-md-4 col-lg-3 col-sm-6 mb-3 pointer"  routerLink="/ordem-servico/{{os.id}}"
       *ngFor="let os of ordensServico">
        <div class="card">
          <img src="{{environment.apiHostAddress + '/' + os.imagemUrl}}" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{os.nomePrestador}}</h5>
            <p>{{os.descricao}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
