<header id="header_main__cliente">
  <div>
    <img src="../../../assets/logo.svg" class="logo">
  </div>

  <div id="perfil">
    <div> Bem vindo, Jeff</div>

    <div id="imagem__perfil">

    </div>

  </div>

</header>
<main>


  <div class="hr__main pb-2 mb-3">
    Categorias
  </div>


  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Faxina</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Construçao</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Encanamento</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Elétrica</h5>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="hr__main pb-2 mb-3" id="servicos">

    <div>
      Seus serviços
    </div>
    
    <select class="form-select form-control form__input form__input-staus" formControlName="cbxStatusServico"
      name="cbxStatusServico">
      <option value="">Todos</option>
      <option value="">Solicitados</option>
      <option value="">Em orçamento</option>
      <option value="">Solicitados</option>
    </select>
  </div>


</main>
