<main>
    <form class="form-alterarsenha">
        <label for="input-password" class="form__label-alterarsenha">
            Nova Senha:
            <input type="password" name="senha" formControlName="senha" class="form-control form__input form__input-alterarsenha" id="input-senha">
        </label>
        <label for="input-password" class="form__label-alterarsenha">
            Repita a nova senha:
            <input type="password" name="repetirSenha" formControlName="repetirSenha" class="form-control form__input form__input-alterarsenha" id="input-repetirSenha">
        </label>
    </form>
</main>