.form-tipo {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 550px;
    gap: 20px;
}

.form-tipo .logo {
    align-self: center;
}

main {
    height: 70vh;
    justify-content: space-between !important;
}

.btn__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 550px;
    justify-content: space-around;
    height: 100%;
}

a {
    color: var(--font-primary);
    align-self: center;
}