<main>
    <form class="form form-login" [formGroup]="loginForm">
        <img src="../../../assets/logo.svg" class="logo">

        <label for="input-email" class="form__label-login">
            Email:
            <input (change)="validaEmail()" [class.form__input-invalid]="emailInvalido" type="text" name="email" formControlName="email" class="form-control form__input form__input-login" id="input-email">
        </label>

        <label for="input-password" class="form__label-login">
            Senha:
            <input (change)="validaSenha()" type="password" name="senha" [class.form__input-invalid]="senhaInvalida" formControlName="senha" class="form-control form__input form__input-login" id="input-password">
        </label>

        <button (click)="handleLogin()" class="btn btn-primary form__button">Login</button>

        <a href="esqueceu-senha">Esqueceu sua senha?</a>
    </form>
    <div class="btn__wrapper">
        <button class="btn btn-primary form__button-secondary form__button-login-google"><i class="bi bi-google"></i>Entrar com Google</button>
        <button (click)="novoCadastro()" class="btn btn-primary form__button">Cadastre-se</button>
    </div>
</main>