@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
    box-sizing: border-box !important;

    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    color: var(--font-primary);
}

:root {
    --background-primary: #F4EEE8;
    --background-secondary: #FFEBC3;
    --font-primary: #926D0F;
    --font-secondary: #FCC129;
    --font-thirdy: #D1A126;
    --font-fourth: #FFFFFF;
}
body {
    background-color: var(--background-primary) !important;
    overflow-y: auto !important;
}

.logo {
    height: 80px;
    width: 80px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 45px;
    min-height: 100vh;
    max-width: 100%;
}

.form__input {
    background-color: var(--background-secondary) !important;
    border: 1px solid var(--font-thirdy) !important;
    max-width: 600px;
    color: var(--font-primary) !important;
}

.form__input:focus {
    box-shadow: 0 0 0 0.06rem var(--font-thirdy) !important;
}

.form__input-invalid {
    box-shadow: 0 0 0 0.06rem rgb(207, 56, 56) !important;
}

.form__input-disabled {
    opacity: .7 !important;
}

.form__button {
    background-color: var(--font-thirdy) !important;
    border: none !important;
}

.form__button:focus {
    box-shadow: none !important;
}

.form__button:active {
    opacity: 0.8;
    transition: all .4s;
}

.form__button-secondary {
    background-color: var(--font-fourth) !important;
    border: none !important;
    color: var(--font-primary) !important;
    align-self: stretch;
}

.form__button-secondary:focus {
    box-shadow: none !important;
}

.form__button-secondary:active {
    background-color: rgba(0, 0, 0, .1) !important;
    transition: all .4s;
}

.horizontalCards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap !important;
    overflow: scroll;
    overflow-y: hidden;
    max-height: 300px;
    width: 100vw;
    left: 0;
    position: absolute;
    gap: 10px;
}

.horizontalCards__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 40px;
}
.horizontalCards__card__img {
    width: 140px !important;
    height: 140px !important;
    border-radius: 50%;
}

.hr__main {
    width: 100%;
    border-bottom: 2px solid var(--font-primary);
}

.pointer:hover {
    cursor: pointer;
}
.tituloBanir{
font-size: 1rem !important;
}

.titles,
.popus,
.inputs {
    background-color: var(--background-primary) !important;
    max-width: 600px;
    color: var(--font-primary) !important;
    border-radius: 10%;
}
.icons{
    border-color: var(--font-primary) !important;
}

.inputs {
    border: 1px solid var(--font-thirdy) !important;
    box-shadow: 0 0 0 0.1rem var(--font-thirdy) !important;
    max-width: 600px;
    color: var(--font-primary) !important;
}

.botaoDenuncia {
    background-color: var(--font-thirdy);
    color: var(--font-fourth);
    width: 120px;
    height: 50px;
    border: none;
    margin: 10px;
    border-radius: 5px;
}

.botaoCancela {
    background-color: var(--font-fourth) !important;
    width: 120px;
    height: 50px;
    border: none !important;
    color: var(--font-primary) !important;
    margin: 10px;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 8px;  
    height: 8px;            
  }
  
::-webkit-scrollbar-track {
    background: none;        
  }
  
::-webkit-scrollbar-thumb {
    background-color: var(--font-primary);   
    border-radius: 20px; 
  }
