.form-administardor {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 550px;
    gap: 20px;
}


main {
    height: 100vh;
    justify-content: space-between !important;
    padding:  20px 45px 45px 45px;
    

}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-brand {
    color: var(--font-fourth);
}

.table-scrollable {
    overflow-x: auto;
    max-width: 600px;
    box-shadow: inset 0 0 5px rgba(150, 150, 150, 0.35);
    margin: auto;
}

a {
    text-decoration: none;
    margin-left: 10px;
    color: var(--font-fourth);
}

.mouseMaozinha {
    cursor: pointer;
}

.form-categoria {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.categorias {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.categoria {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--background-secondary);
    border-radius: 5000px;
    padding: 5px 25px;
}

.categoria__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.categoria__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.categoria__closebtn {
    align-self: flex-end;
}

.btn__ImagemCategoria {
    width: 100%;
    margin-top: 15px;
}

.form-cadCliente {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;

}
.btn__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
    width: 100%;
    max-width: 550px;
    margin-top: 10px;
}
.teste{
    width: 100% !important;
    width: 290px !important;
}
.btn-mobile:focus{
    box-shadow:none !important;
}
.btn-mobile{
    border: none !important;
}
.icon-mobile{
    color: var(--font-fourth);
    font-size: 40px;
}

