<nav class="navbar-expand-lg navbar navbar-light" style="background-color: var(--font-thirdy);">
    <div class="container-fluid">
        <a>
            <h4 style="color: var(--font-fourth)">Work2home</h4>
        </a>
        <button class="navbar-toggler btn-mobile" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list icon-mobile"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav me-auto mb-2 mb-lg-0" role="tablist" id="myTab">
                <li class="nav-item" role="presentation">
                    <a class="tab-pane fade show" id="adm-tab" data-bs-toggle="tab" data-bs-target="#adm" type="button"
                        role="tab" aria-controls="contact" aria-selected="false">Cadastrar Administrador</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="tab-pane fade show active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                        type="button" role="tab" aria-controls="home" aria-selected="true">Usuários Denunciados</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="tab-pane fade show" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">Cadastrar
                        Categorias</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="tab-pane fade show" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                        type="button" role="tab" aria-controls="contact" aria-selected="false"
                        (click)="relatorioUsuario()">Relatório de
                        Usuários</a>
                </li>
                <li class="nav-item mouseMaozinha" role="presentation">
                    <a class="tab-pane fade show" (click)="logout()">Logout</a>
                </li>

            </ul>

        </div>
    </div>
</nav>
<main>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="table-scrollable" style="min-width:355px;">
                <table class="m-auto table table-striped table-hover table-responsive ">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Cargo</th>
                            <th>Denúncias</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="pointer" *ngFor="let u of denuncias; let i = index" (click)="verInformacao(u.denunciado_id)">
                            <td>{{u.denunciado_id}}</td>
                            <td>{{u.nome}}</td>
                            <td>{{u.role}}</td>
                            <td>{{u.qtdDenuncias}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <form [formGroup]="categoriaForm" class="form form-categoria">
                <h2>Cadastro de Categorias</h2>
                <input type="text" name="nome" formControlName="nome" class="form-control form__input">


                <div class="btn__solicitacao btn__imagem">
                    <button class="btn btn-primary form__button btn__ImagemCategoria" (click)="handleEditarImagem()">
                        Adicionar Imagem
                    </button>
                    <span>{{nomeImagem}}</span>
                </div>
                <input type="file" accept="image/*" (change)="onImgChange($event)" id="imagemFile" class="d-none">



                <button class="btn btn-primary form__button" (click)="handleAddCategoria()">Cadastrar</button>
            </form>
            <div class="categorias">
                <div class="categoria" *ngFor="let c of categorias">
                    <div class="categoria__wrapper">
                        <img class="categoria__img" src="{{environment.apiHostAddress + '/' + c.imagemUrl}}">
                        <h3 class="categoria__nome">{{c.nome}}</h3>
                    </div>
                    <i class="categoria__closebtn" class="bi bi-x-lg pointer" (click)="handleDeletarCategoria(c.id)"></i>
                </div>
            </div>
        </div>
        <div class="tab-pane teste" id="adm" role="tabpanel" aria-labelledby="contact-tab">
                <h2>Cadastro de Administrador</h2>
                <form class="form form-cadCliente categorias" [formGroup]="cadastroAdmForm">
                    <label for="input-email" class="form__label-cliente">
                        Email:
                        <input type="text" placeholder="exemplo@email.com" autocomplete="disabled" (change)="validaEmail()" [class.form__input-invalid]="emailInvalido" name="email" formControlName="email" class="form-control form__input form__input-cliente" id="email">
                    </label>
                    <label for="input-text" class="form__label-cliente">
                        Nome:
                        <input type="text" (change)="validaNome()" [class.form__input-invalid]="nomeInvalido"name="nomeAdm" formControlName="nomeAdm" class="form-control form__input form__input-cliente" id="input-nomeAdm">
                    </label>
                    <label for="input-password" class="form__label-cliente">
                        Senha:
                        <input type="password" (change)="validaSenha()" [class.form__input-invalid]="senhaInvalida" name="senha" formControlName="senha" class="form-control form__input form__input-cliente" id="input-senha">
                    </label>
                    <label for="input-password" class="form__label-cliente">
                        Repetir senha:
                        <input type="password" (change)="validaSenha()" [class.form__input-invalid]="senhaInvalida" name="repetirSenha" formControlName="repetirSenha" class="form-control form__input form__input-cliente" id="input-repetirSenha">
                    </label>
                    <label for="input-text" class="form__label-cliente">
                        Data nascimento:
                        <input type="date" (change)="validaDataNascimento()" [class.form__input-invalid]="dataNascimentoInvalida" name="dataNascimento" formControlName="dataNascimento" class="form-control form__input form__input-cliente" id="input-dataNascimento">
                    </label>
                    <label for="input-text" class="form__label-cliente">
                        Telefone:
                        <input type="text" mask="(000) 00000-0000" placeholder="(000) 00000-0000"(change)="validaTelefone()" [class.form__input-invalid]="telefoneInvalido" name="telefone" formControlName="telefone" class="form-control form__input form__input-cliente" id="input-telefone">
                    </label>
                </form>  
                <div class="btn__wrapper">
                    <button (click)="cadastrarAdm()" class="btn btn-primary form__button">Cadastrar</button>
                    <button (click)="cancelarAdm()" class="btn btn-primary form__button-secondary">Cancelar</button>
                </div>    
     
        </div>

    </div>
</main>