.perfils {
    display: flex;
    flex-direction: column;
    
}

.perfil {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5000px;
    padding: 5px 25px;
    
}

.perfil__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 40px;
}

.perfil__img {
    
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 1px solid var(--font-thirdy);
}
.semImagem{
    font-size: 9em;
    line-height: 144px;
    margin-left:auto;
}
.perfil__nome{
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}
.btn__features{
    position: absolute;
    right: 0;
    margin-right:20px;
    margin-top: 10px;
    
}

.perfilFoto{
    display: flex;
    align-items: flex-end;
}
.pincelFoto{
    position: absolute;
    transform: translateX(460%);
}
.btnDenuncia{
    margin-top: 10px;
}
.emailTelefone label{
    color: var(--font-thirdy)!important;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stars{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    gap:5px
}
.infoPerfil{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.hr{
    margin-top: 5px;
    border-bottom: 2px solid var(--font-primary);
}
.ctgPerfil{
    margin-left: 20px;
}
.cddPerfil{
    margin-left: 20px;
}
.avPerfil{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--background-secondary);
    padding: 5px 20px;
    margin-top: 10px;
}
.avPerfil h5 {
    
    color: var(--font-thirdy)!important;
}
h5{
    margin: 0;
}
li{
    color: var(--font-thirdy)!important;
}
input[type='file']{
    display: none;
}
.estrela{
    font-size: 20px;
}
.btn__voltar{
    font-size: 30px;
}

