<main>
    <div class="receiverProfile">
        <i class="bi bi-arrow-left-circle btn__voltar pointer" (click)="voltarPagina()"></i>
        <div class="perfilFoto">
            <img class="perfil__img" id="fotoPerfil" *ngIf="hasImage"
            src={{profileImgUrl}}>
            <i class="bi bi-person-circle semImagem perfil__img" *ngIf="!hasImage"></i>
        </div>
        <h3 class="perfil__nome">{{userReceiver.nome}}</h3>
    </div>
    <div class="messages">
        <div class="message" *ngFor="let message of messages trackBy: scrollMessages" [class.myMessage]="message.userFrom == user.id" [class.hisMessage]="message.userFrom != user.id">
            <p class="message__title" *ngIf="message.userFrom == user.id"><b>Você</b></p>
            <p class="message__title" *ngIf="message.userFrom != user.id"><b>{{userReceiver.nome}}</b></p>
            <p class="message__text">{{message.text}}</p>
            <p class="message__sentDate">{{message.sentDate | date : 'HH:mm'}}</p>
        </div>
    </div>
    <form class="form form-chat" [formGroup]="chatForm">
        <input type="text" name="message" formControlName="message" class="form-control form__input">
        <input (click)="handleSendMessage()" type="button" class="btn btn-primary form__button" value="Enviar">
    </form>
</main>
