main{
  margin-top: 0;
  padding-top: 0;
}

p{
  margin-bottom: 0;
}

#imagem{
  width: 100vw;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

i{
 font-size: 200px;
}


#informacoes{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn{
  align-self: center;
  width: 100%;
}

.btns__chose{
  display: flex;
  gap: 10px;
}
