<main>
  <div id="imagem" style="background-image: url({{imagem}});">

    <i *ngIf="!thereIsImage" class="bi bi-card-image"></i>

  </div>

  <div id="informacoes">

    <div class="mt-3">
      <p><b>Status do serviço: </b>{{ordemServico.status}}</p>
    </div>

    <div>
      <p><b>Cliente:</b> {{ordemServico.nomeCliente}}</p>
      <p><b>Prestador:</b> {{ordemServico.nomePrestador}}</p>
    </div>

    <div>
      <p><b>Area: </b>{{ordemServico.area}}</p>
    </div>

    <div>
      <p><b>Descrição:</b></p>
      <p>{{ordemServico.descricao}}</p>
    </div>

    <div>
      <p><b>Data solicitada: </b>{{ordemServico.dataSolicitada}}</p>
      <p><b>Tempo estimado: </b>{{ordemServico.tempoEstimado}}</p>
      <p><b>Data inicio: </b>{{ordemServico.dataInicio}}</p>
      <p><b>Data final: </b>{{ordemServico.dataFim}}</p>
    </div>

    <div>
      <p><b>Valor: </b>R${{ordemServico.valor}}</p>
    </div>

    <div class="btn" *ngIf="isFinalizado">
      <button class="btn btn-primary form__button ">
        Avaliar</button>
    </div>

    <div class="btns__chose" *ngIf="isEmOrcamento">
      <button class="btn btn-success  btn__solicitacao btn__aceitar" (click)="respostaOrcamento(true)">
        Aceitar</button>
      <button class="btn btn-danger  btn__solicitacao btn__recusar" (click)="respostaOrcamento(false)">
        Recusar</button>
    </div>


  </div>

</main>
